@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --font-prompt: "Prompt";
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-prompt), sans-serif;
  height: 100vh;
  background: #f8fafc;
}

button,
input,
select,
textarea {
  font: inherit;
}
